In [5]:
import pandas as pd

df_train = pd.read_csv('train.csv')
df_train.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd,PAX
0,2011-12-05,ORD,Chicago,41.978603,-87.904842,EWR,Newark,40.692500,-74.168667,8.352941,5.667243,7
1,2013-03-01,ATL,Atlanta,33.636719,-84.428067,LGA,New York,40.777245,-73.872608,10.421053,10.001754,7
2,2012-02-06,ORD,Chicago,41.978603,-87.904842,BOS,Boston,42.364347,-71.005181,9.250000,7.136821,7
3,2012-12-10,ORD,Chicago,41.978603,-87.904842,SFO,San Francisco,37.618972,-122.374889,8.666667,7.404291,7
4,2012-04-13,SFO,San Francisco,37.618972,-122.374889,JFK,New York,40.639751,-73.778925,14.037037,9.858544,7

In [6]:
df_train.describe()

,LongitudeDeparture,LatitudeDeparture,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd,PAX
count,8899.000000,8899.000000,8899.000000,8899.000000,8899.000000,8899.000000,8899.000000
mean,37.808886,-93.742886,37.736862,-93.677790,11.459248,8.625380,3.645915
std,4.665040,17.447421,4.704364,17.498414,2.797870,2.139732,2.492679
min,25.793250,-122.374889,25.793250,-122.374889,2.625000,2.160247,0.000000
25%,33.636719,-112.011583,33.636719,-112.011583,9.500000,7.089530,1.000000
50%,39.861656,-87.904842,39.861656,-87.904842,11.285714,8.574098,3.000000
75%,41.978603,-80.290556,41.978603,-80.290556,13.260870,10.154409,6.000000
max,47.449000,-71.005181,47.449000,-71.005181,21.933333,15.862216,7.000000

In [18]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df_train['Departure'])
df_train['Departure'] = le.transform(df_train['Departure'])
df_train['Arrival'] = le.transform(df_train['Arrival'])

In [19]:
le.fit(df_train['CityDeparture'])
df_train['CityDeparture'] = le.transform(df_train['CityDeparture'])
df_train['CityArrival'] = le.transform(df_train['CityArrival'])

In [22]:
le.fit(df_train['DateOfDeparture'])
df_train['DateOfDeparture'] = le.transform(df_train['DateOfDeparture'])

In [23]:
df_train.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd,PAX
0,95,15,3,41.978603,-87.904842,6,13,40.692500,-74.168667,8.352941,5.667243,7
1,547,0,0,33.636719,-84.428067,11,12,40.777245,-73.872608,10.421053,10.001754,7
2,158,15,3,41.978603,-87.904842,1,1,42.364347,-71.005181,9.250000,7.136821,7
3,466,15,3,41.978603,-87.904842,19,17,37.618972,-122.374889,8.666667,7.404291,7
4,225,19,17,37.618972,-122.374889,8,12,40.639751,-73.778925,14.037037,9.858544,7